#       GENERAL      #
######################
vendor/*
composer.lock

#     AVOLUTIONS     #
######################
log/*

# IDE specific files #
######################
# Eclipse
.settings/*
.buildpath
.project
# PHPStorm
.idea/*